<h2><%= @user.first_name %>'s Profile</h2>
<div> <%= link_to "Edit Profile", edit_user_path %> </div>
<table>
  <tr>
    <th> Survey Name
    </th>
    <th> Created At
    </th>
    <th> Status
    </th>
    <th> Taken
    </th>
    <th> Options
    </th>
</tr>
<tr><td> blah</td> <td> blah</td> <td> blah</td> <td> blah</td></tr>
<tr> <td> blah</td> <td> blah</td> <td> blah</td> <td> blah</td></tr>
<tr> <td> blah</td> </tr>
</table>
<%= link_to "Find a Survey", surveys_path %>
<%= link_to "Create a New Survey", new_survey_path %>
