<div class="profile_container">
<div class="choice_field">
  <%= f.label "Choice" %>
  <%= f.text_field :body %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: 'remove_fields' %>
</div>
</div>
