/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "HelveticaNeue-Light", sans-serif;
  color: gray;
}

header {
    position: fixed;
    height: 90px;
    width: 100%;
    /*background: #00CCCC;*/
    background: #FFFFFF;
    color: #0000FF;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
    opacity: 100;
}
nav ul li {
  display: inline;
  margin: 30px;
  list-style-type: none;
}

h1 {
  font-size: 3.875em;
  padding: 0 5%;
  font-weight: normal;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  padding: 0 5%;
  font-weight: normal;
  color: white;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding-top: 150px;
  width: 100%;
  height: 400px;
  position: relative;
}

footer {
    position: relative; /* formerly fixed!*/
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0px;
    /*background-color: white;*/
    /*border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;*/
    z-index: 1000;
    padding: 10px;
}

#welcome_container {
  width: 100%;
  background-color: #789928;
}

#welcome_login {
  margin: 0 auto;
  width: 400px;
}

#welcome_login  label {
  color: white;
}

#nav_right > a {
  color: gray;
  padding-right: 40px;

}

#nav_right {
  float: right;
  margin-right: 20px;
}

#nav_left {
  float: left;
}

#welcome {
  margin: 0 auto;
  width: 70%;
  height: 400px;
  position: relative;
}

header a {
  color: black;
}

a {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

input[type=text] {padding:5px; border:2px solid #ccc;
-webkit-border-radius: 5px;
border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }
input[type=password] {padding:5px; border:2px solid #ccc;
-webkit-border-radius: 5px;
border-radius: 5px;
}
input[type=password]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:yellow; border:1 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }
