/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "HelveticaNeue-Light", sans-serif;
  color: #505050;
  margin: 0;
}

#header {
  background-color: #FFF;
  height: 40px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

div {
  margin: 10px auto;
}

div.choice_field {
  margin-left: 20px;
}

nav ul li {
  display: inline;
  margin: 30px;
  list-style-type: none;
}

h1 {
  font-size: 3.875em;
  padding: 0 5%;
  font-weight: normal;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  padding: 0 5%;
  font-weight: normal;
  color: white;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding-top: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: 1000;
    padding: 10px;
}

.profile_container {
  margin: 0 auto;
  color: #505050;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile_container > h2 {
  color: #505050;
}

.profile_container a {
  color: #505050;
  text-align: right;
}

li {
  margin-top: 0;
}

li .profile_container {
  margin-top: -18px;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome_container {
  width: 100%;
  background-color: #789928;
}

#welcome_login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome_login  label {
  color: white;
}

#nav_right > a {
  color: #505050;
  padding-right: 40px;

}

#nav_right {
  float: right;
  margin-right: 20px;
}

#nav_left {
  float: left;
}

#header {
  padding-top: 20px;
}

header a {
  color: black;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #d3d3d3;
}

a:hover {
  color: black;
}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:14px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

.link_tos {

}

input {
  min-width: 200px;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="password"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="password"]:focus,
input[type="password"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


input[type=submit] {
  padding:5px 15px; background:beige; border:1 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  max-width: 200px;
}
